<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>รีสอร์ททั้งหมด</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item *ngFor="let resort of resorts">
        <ion-thumbnail slot="start">
            <ion-img src="{{ resort.resort_img }}"></ion-img>
        </ion-thumbnail>
        <ion-label>
            {{ resort.resort_id }} {{ resort.resort_name }}
        </ion-label>
    </ion-item>
</ion-content>