<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            หน้าหลัก
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button color="secondary" (click)="GoToProfile()">
                <ion-icon slot="icon-only" name="person-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="style1">Num 1 : {{ num1 }}</div>
    <div class="style2">Num 2 : {{ num2 }}</div>
    <div class="style2">Sum : {{ sum }}</div>
    <br>
    <br>
    <div>ชื่อ : {{ user.user_name }}</div>
    <div>นามสกุล : {{ user.user_lname }}</div>
    <div>ชื่อเต็ม : {{ user.user_name }} {{ user.user_lname }}</div>
    <div>
        สถานะ :
        <span *ngIf="status==true">ใช้งาน</span>
        <span *ngIf="status==false">ไม่ใช้งาน</span>
    </div>
    <div>
        ตำแหน่ง :
        <span *ngIf="position=='1'">teacher</span>
        <span *ngIf="position=='2'">student</span>
        <span *ngIf="position=='3'">staff</span>
    </div>
    <div *ngFor="let p of position_list">{{ p }}</div>
    <ion-grid>
        <ion-row>
            <ion-col class="menu">
                <a (click)="GoToResort()">
                    <img src="assets/icon/dormitory.png" alt="">
                    <div>รีสอร์ททั้งหมด</div>
                </a>
            </ion-col>
            <ion-col class="menu">
                <a (click)="GoToPage3()">
                    <img src="assets/icon/history.png" alt="">
                    <div>ประวัติการจอง</div>
                </a>
            </ion-col>
            <ion-col class="menu">
                <a (click)="aaa()">
                    <img src="assets/icon/favicon.png" alt="">
                    <div>????</div>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="menu">
                <a (click)="bbb()">
                    <img src="assets/icon/dormitory.png" alt="">
                    <div>bbb</div>
                </a>
            </ion-col>
            <ion-col class="menu">
                <a (click)="ccc()">
                    <img src="assets/icon/dormitory.png" alt="">
                    <div>ccc</div>
                </a>
            </ion-col>
            <ion-col class="menu">
                <a (click)="ddd()">
                    <img src="assets/icon/dormitory.png" alt="">
                    <div>ddd</div>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="menu">
                <a (click)="eee()">
                    <img src="assets/icon/dormitory.png" alt="">
                    <div>eee</div>
                </a>
            </ion-col>
            <ion-col class="menu">
                <a (click)="fff()">
                    <img src="assets/icon/dormitory.png" alt="">
                    <div>fff</div>
                </a>
            </ion-col>
            <ion-col class="menu">
                <a (click)="ggg()">
                    <img src="assets/icon/dormitory.png" alt="">
                    <div>ggg</div>
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button (click)="TestCallService()">Test Call Service</ion-button>
    <!-- <div *ngFor="let resort of resorts">{{ resort.resort_id }} {{ resort.resort_name }}</div> -->

    <ion-item *ngFor="let resort of resorts">
        <ion-thumbnail slot="start">
            <ion-img src="{{ resort.resort_img }}"></ion-img>
        </ion-thumbnail>
        <ion-label>
            {{ resort.resort_id }} {{ resort.resort_name }}
        </ion-label>
    </ion-item>
</ion-content>